test/META-INF/spring-test.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="https://github.com/aBlackAnt/my-test/tree/master/test/src/test/java/spring"
        xmlns:tns="https://github.com/aBlackAnt/my-test/tree/master/test/src/test/java/spring"
        elementFormDefault="qualified">

    <element name="user">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="userName" type="string"/>
            <attribute name="email" type="string"/>
        </complexType>
    </element>
</schema>